/* Hello there it's me */


/* ================ BACKGROUND NOISE ANIMATION ================ */
.noisy-bg {
    animation: noiseAnimation .2s infinite;
  }
  
  @keyframes noiseAnimation{
    0%{
        background-position:0 0
    }
    10%{
        background-position:-5% -5%
    }
    20%{
        background-position:-10% 5%
    }
    30%{
        background-position:5% -10%
    }
    40%{
        background-position:-5% 15%
    }
    50%{
        background-position:-10% 5%
    }
    60%{
        background-position:15% 0
    }
    70%{
        background-position:0 10%
    }
    80%{
        background-position:-15% 0
    }
    90%{
        background-position:10% 5%
    }
    to{
        background-position:5% 0
    }
  }


  /* ================ BEFORE CONTENT STATEMENT ================ */

  .h3-statement::before {
    content: open-quote;
    font-family: system-ui;
    color: #FFD4CA;
    font-size: 7rem;
    position: absolute;
    left: -1rem;
    top: -1rem;
}

@media(min-width: 1000px) {
    .h3-statement::before {
        font-size: 5rem;
    }
}

/* ================ CURSOR POINTER EVENTS ================ */


.cursor-wrapper {
    pointer-events: none;
}

/* ================ CURSOR POINTER EVENTS ================ */


.w-button {
    cursor: inherit;
}   

/* ================ DISABLE CURSOR ON IPAD PRO ================ */


@media only screen
 and (min-device-width: 1024px)
 and (max-device-width: 1024px)
 and (orientation: portrait)
 and (-webkit-min-device-pixel-ratio: 2) {

body {
   cursor: default;
}

.cursor-wrapper {
   display: none;
}

a {
   cursor: pointer;
}
}

@media only screen
 and (min-device-width: 1366px)
 and (max-device-width: 1366px)
 and (orientation: landscape)
 and (-webkit-min-device-pixel-ratio: 2) {
 
body {
   cursor: default;
}

.cursor-wrapper {
   display: none;
}

a {
   cursor: pointer;
}
}



@media screen and (max-width: 767px) {
    .section-insta,
    .section-insta-container {
        overflow: unset;
    }

}


/* STYLES FOR NAV MENU */

a {
	color: inherit;
}

/* .link-top, .link-bottom {
	pointer-events: none;
} */

label.radio-field-wrapper:has(.w--redirected-checked) {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.radio-field-wrapper .w-form-label {
    cursor: none;
}


/* ================ DISABLE CURSOR ON IPAD PRO ================ */

.restaurant-item:nth-of-type(1) .main-cta {
    background: #C56648;
}
.restaurant-item:nth-of-type(2) .main-cta {
    background: #537a38;
}
.restaurant-item:nth-of-type(3) .main-cta {
    background: #900521;
}

.restaurant-item:nth-of-type(1) .main-cta:hover, 
.restaurant-item:nth-of-type(2) .main-cta:hover, 
.restaurant-item:nth-of-type(3) .main-cta:hover {
    background: #fff;
    color: #000;
}

/* ================ DISABLE POINTER EVENT ON LOGO RESTAURANT LISTING ================ */

.logo-restaurant-listing-item {
    pointer-events: none;
}

/* ================ HEIGHT OF RESTAURANT LISTING ================ */

/* .section-restaurant-listing {
    height: calc(100vh - 66px);
} */

/* ================ DO NOT DISPLAY SEVEN ROOMS LOGO ================ */
.sr-fa.sr-fa-logo {
    display: none;
}

/* ================ EPHEMERA LOGO TO DISPLAY PROPERLY ON NAVBAR MOBILE ================ */
.lottie-nav-item svg {
    width: auto!important;
}

/* ================ DVH ================ */
.section-hero,
.section-hero-restaurant-item-info-container,
.section-nav-menu {
    height: 100dvh;
}


/* ================ Styling list for events ================ */

.event-p ul {
    list-style: none;
}

.event-p ul li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 1em;
        height: 1em;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 543.4 280.52'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:%23fff;%7D.cls-2%7Bisolation:isolate;opacity:.2;%7D%3C/style%3E%3C/defs%3E%3Cg id='Calque_1'%3E%3Cg id='Calque_2'%3E%3Cg id='Calque_1-2'%3E%3Cpath class='cls-1' d='m92.4,116.4V31.8h0v-2.7c0-7.6,3.4-13,4.9-13.5l-1.1-1.4h-12.6v1.4c.1,0,.2.1.3.1.2.1.3.2.5.4,1.6,1.8,2.7,3.9,3.2,6.2.2.5.3,1,.4,1.6.1.4.2.8.2,1.2.2,1.4.3,2.7.3,4.1v59c-.5,27.1-18.2,41-35.5,41s-34.8-13.9-34.8-42.3V14.9c0-7.7,3.5-13.2,5-13.5V0H0v1.4c1.3.3,5,5.8,5,13.5v71.9c0,32.1,21.5,47.7,43.3,47.7,16.4,0,33-9,40.3-26.8v8.7c0,7.7-3.5,13.2-5,13.5v1.3h13.9v-1.3c-1.5-.3-5.1-5.8-5.1-13.5ZM12.7,100c-1.3-4.9-2-9.9-2-14.9v-46.2c.3-3.9,1.1-7.7,2.2-11.5.6-1.9,1.2-3.7,2-5.5-.1,3.8-.3,7.7-.4,11.5-.1,4.1-.5,29.7,0,51.7,0,6,.7,12,2,17.9,1.1,4.9,2.7,9.6,4.7,14.2-4-5.1-6.9-11-8.5-17.2Z'/%3E%3Cpath class='cls-1' d='m259.5,14.2h-35.9v1.4c1.5.3,5,5.8,5,13.5v87.3c0,7.7-3.5,13.2-5,13.5v1.3h35.9c33.3-.3,60.2-25.3,60.2-58.5s-26.9-58.2-60.2-58.5Zm-.8,113.2h-11.7c-5,0-5-3.3-5-11V29.1c0-7.7,0-11,5-11h11.7c27.1,0,46.7,25.2,46.7,54.7s-19.6,54.6-46.7,54.6Zm52.8-55c-.5-12.9-5-25.3-13-35.5,17.9,17.5,20.5,45.3,6.2,65.8,4.8-9.3,7.2-19.8,6.8-30.3h0Z'/%3E%3Cpath class='cls-1' d='m527.3,128.4c-24.6-.2-12-41-45.3-52.5,20.7-3.3,31-16.9,31-30.4,0-15.7-13.9-31.3-41.8-31.3h-38.1v1.4c1.5.3,5,5.9,5,13.5v87.3c0,7.7-3.5,13.2-5,13.5v1.3h23.4v-1.3c-1.5-.3-5-5.9-5-13.5v-39.7h11c36.3.2,16.4,54.5,64.9,54.5l-.1-2.8Zm-24.1-94.9c4.3,8.8,3.3,19.3-2.5,27.1,1.8-4,3-8.2,3.5-12.6.5-4.9.2-9.8-1-14.5Zm-36.3,39.4h-15.4V29.1c0-7.7,0-11,5-11h10.4c21.2,0,31.8,13.7,31.8,27.4s-10.6,27.4-31.8,27.4Z'/%3E%3Cpath class='cls-1' d='m208.5,15.5v-1.4h-13.9v1.4c1.5.3,5,5.8,5,13.5v80L123.5,14.2h-12.7v1.4c1.5.3,5,5.8,5,13.5v87.3c0,7.7-3.5,13.2-5,13.5v1.3h13.9v-1.3c-1.5-.3-5-5.9-5-13.5V31.8l80,99.5h8.9v-1.3c-1.5-.3-5-5.9-5-13.5V29.1c-.1-7.7,3.4-13.2,4.9-13.6Zm-53.3,46.8c-6.5-7.9-13.1-15.8-19.7-23.7-2.6-3.4-4.9-6.9-6.9-10.6-.6-1-1.1-2-1.6-3l1.5,1.6,1.5,1.7c6.6,7.9,13.1,15.8,19.7,23.8,2.6,3.3,4.9,6.9,6.9,10.6.6,1,1.1,2,1.6,3-1-1.2-2-2.3-3-3.4Z'/%3E%3Cpath class='cls-1' d='m5.6,152.2v9.8h.9c.2-1,2.8-7.3,9.7-7.3h12.8c2.9,0,3.3,1.7,3.4,5.3v60.2c-.2,4.8-2.5,8.2-3.4,8.4v.9h15.7v-.9c-.9-.2-3.4-3.9-3.4-9v-57.6c0-5.1,0-7.3,3.4-7.3h12.8c6.8,0,9.4,6.3,9.7,7.3h.8v-9.8H5.6Zm33.9,72.5c-1.3-2.6-2-5.4-2-8.3v-53.3c.2-1.7.7-3.4,1.4-5,.2-.5.4-1,.7-1.4l-.1,68Z'/%3E%3Cpath class='cls-1' d='m146.2,153.1v-.9h-15.7v.9c1,.2,3.4,3.9,3.4,9v27.5h-43.4v-27.5c0-5.1,2.4-8.7,3.4-9v-.9h-15.8v.9c1,.2,3.4,3.9,3.4,9v57.6c0,5.1-2.4,8.7-3.4,9v.9h15.7v-.9c-1-.2-3.4-3.9-3.4-9v-27.6h43.3v27.6c0,5.1-2.3,8.7-3.4,9v.9h15.7v-.9c-1-.2-3.4-3.9-3.4-9v-57.6c.2-5.1,2.5-8.7,3.6-9Zm-57.7,70.2c-1.3-2.6-2-5.4-2-8.3v-53.3c.2-1.7.7-3.4,1.4-5,.2-.5.4-.9.7-1.4l-.1,68Zm48.5-5.7c0,2.2-.4,4.4-1.2,6.5-.2.6-.5,1.2-.8,1.8v-68c.2.4.4.9.6,1.4.7,1.6,1.2,3.3,1.4,5v53.3Z'/%3E%3Cpath class='cls-1' d='m259,180.6c-1.1-10.3,6.5-19.6,16.8-20.7.5,0,.9-.1,1.4-.1,12.7-.8,22.7,9,22.7,9,0,0-10-13.2-26.2-12.5-11.1.5-21.6,7.2-26.1,17.1-3.7,8.4-3.3,17.9,1,26,12.2,21.7,50.9,17.1,63.3,37.3,2,3.2,3.2,6.8,3.4,10.6.3,8.1-4.5,15.3-8.9,18.9-9.2,7.3-25.6,6-38.8-5,9.3,10.8,23.7,15.4,36.5,11.7,17.5-5.1,26.9-24.4,23.9-39.2-1.9-9.6-8.7-15.7-10.9-17.7-2-1.8-6.1-5.1-35.8-14.8-8.2-2.7-14.8-4.7-19-11.1-1.9-2.8-3-6.1-3.3-9.5Z'/%3E%3Cpath class='cls-1' d='m261.6,152.5c6.3-.4,23.7-.6,36.6,10.4,6,5.1,10.7,12.4,11.9,14.1,3.3,5.1,6,10.6,8,16.4.2.4.6.7,1.1.5.3-.1.6-.5.6-.8-.7-13-1.4-26-2.1-39h0c-1.5.1-2.9,1-3.5,2.4-.3.7-.7,1.4-1.1,2.1h0c-.8,1.4-2.6,1.9-4,1.1-.8-.4-1.5-.8-2.4-1.2-16.2-7.9-32.8-7.8-45.1-6Z'/%3E%3Cpath class='cls-1' d='m303.2,276c0-.7-10.9,1.9-22.7-2.5-16.8-6.2-26.3-23.1-32-38.4-.2-.6-.9-.9-1.6-.7-.5.2-.8.7-.8,1.2.3,11.9.6,23.7.9,35.6,0,1,.9,1.9,2,1.8.7,0,1.3-.4,1.6-1.1h0c.3-.7.7-1.4,1.1-2.1h0c.4-.6,1.4-1.1,3.9-1.1,2.4,1.5,4.9,2.9,7.5,4.1,19.6,8.8,40.1,4.2,40.1,3.2Z'/%3E%3Cpath class='cls-1' d='m172.3,276.9c0-.7-10.9,1.9-22.7-2.5-16.8-6.2-26.3-23.1-32-38.4-.2-.6-.9-.9-1.6-.7-.5.2-.8.7-.8,1.2.3,11.8.6,23.7.9,35.6,0,1,.9,1.9,2,1.8.7,0,1.3-.4,1.6-1.1h0c.3-.7.6-1.4,1-2.1h0c.3-.6,1.3-1.1,4-1.1,2.4,1.5,4.9,2.9,7.5,4.1,19.7,8.8,40.1,4.1,40.1,3.2Z'/%3E%3Cpath class='cls-1' d='m55,276.9c0-.7,10.9,1.9,22.7-2.5,16.8-6.2,26.3-23.1,32-38.4.2-.6.9-.9,1.6-.7.5.2.8.7.8,1.2-.3,11.8-.6,23.7-.9,35.6,0,1-.9,1.9-2,1.8-.7,0-1.3-.4-1.6-1.1h0c-.3-.7-.6-1.4-1-2.1h0c-.3-.6-1.3-1.1-4-1.1-2.4,1.5-4.9,2.9-7.5,4.1-19.7,8.8-40.2,4.1-40.1,3.2Z'/%3E%3Cpath class='cls-1' d='m532.9,262.9l-2.4-5.4-8.8-19.7-36.4-81.8h-2.3c-1.2,0-2.3.7-2.9,1.8v.1c-18.1,40.3-36.3,80.6-54.5,120.9,1.1.6,2.1,1.2,3,1.6.6.3,1.4,0,1.7-.6h0c2.3-5.3,4.6-10.6,6.9-15.9.8-1.9,1.6-3.8,2.5-5.7l5.5-12.7c0-.1.1-.2.1-.3.4-.9.8-1.7,1.1-2.6.9-1.8,2-4,3.1-6.7.2-.5.6-.9,1.1-1.2h0c5.2-3.1,14.3,3,18.6,6.1,15.9,11.6,31.8,23.1,47.7,34.7,2.7,2,6,3.1,9.5,3.1,5.7,0,11.4.1,17,.1v-1.4c-2.7-.4-7.6-7.7-10.5-14.4Zm-14,6.2l-63.4-46.3c7.3-16.5,14.6-32.9,21.9-49.3,10.9-24.6,0,0,0,.1,7,15.7,14,31.5,21,47.2,2.9,6.6,5.9,13.2,8.8,19.9,4.1,9.3,8.3,18.6,12.4,27.8.1.3-.1.6-.3.7-.1,0-.2,0-.4-.1Z'/%3E%3Cpath class='cls-2' d='m519.6,231.9c-.3.7-.6,1.4-.9,2,.2,0,.3,0,.5.1.6.1,1.1-.2,1.4-.7.1-.2.1-.3.1-.5-.1-.4-.5-.7-1.1-.9Z'/%3E%3Cpath class='cls-1' d='m182.3,260.3c-2-2-.6-5.2-2-5.9h-.2c-1.4.7.1,3.9-2,5.9-1.4,1.4-3.7,1.4-5.2,1.2.1.3.3.6.5.9.2.1.4.3.6.3h3c.7,0,1.8.9,3.1,4.9h.1c1.3-4,2.4-4.9,3.1-4.9,2.4-.1,2.7,0,2.7,0h.3c.2-.1.5-.2.6-.3.3-.2.5-.5.5-.9-1.4.2-3.7.2-5.1-1.2Z'/%3E%3Cpath class='cls-1' d='m160.3,260.6c-1.2-1.2-.4-3.1-1.2-3.5h0c-.8.4,0,2.3-1.2,3.5-.9.7-2,.9-3.1.7,0,.2.2.4.3.5s.2.1.4.2h1.8c.4,0,1,.5,1.8,2.9h0c.8-2.3,1.4-2.9,1.8-2.9h1.8c.1,0,.3-.1.4-.2.2-.1.3-.3.3-.5-1.1.2-2.3,0-3.1-.7Z'/%3E%3Cpath class='cls-1' d='m202.7,260.6c-1.2-1.2-.4-3.1-1.2-3.5h0c-.8.4,0,2.3-1.2,3.5-.9.7-2,.9-3.1.7,0,.2.1.4.3.5.1.1.2.2.4.2h1.8c.4,0,1,.5,1.8,2.9h0c.8-2.3,1.4-2.9,1.8-2.9h1.8c.1,0,.3-.1.4-.2.2-.1.3-.3.3-.5-1.1.2-2.2,0-3.1-.7Z'/%3E%3Cpath class='cls-1' d='m48.7,260.3c-2-2-.7-5.2-2-5.9h-.2c-1.4.7,0,3.9-2,5.9-1.4,1.4-3.7,1.4-5.2,1.2.1.3.3.6.5.9.2.2.4.3.6.3h3c.7,0,1.8.9,3.1,4.9h.1c1.3-4,2.3-4.9,3.1-4.9,2.4-.1,2.7,0,2.7,0h.3c.2-.1.4-.2.6-.3.3-.2.5-.5.5-.9-1.4.2-3.6.2-5.1-1.2Z'/%3E%3Cpath class='cls-1' d='m26.7,260.6c-1.2-1.2-.4-3.1-1.2-3.5h0c-.8.4,0,2.3-1.2,3.5-.9.7-2,.9-3.1.7,0,.2.2.4.3.5.1.1.2.2.4.2h1.8c.4,0,1,.5,1.8,2.9h0c.8-2.3,1.4-2.9,1.8-2.9h1.8c.1,0,.3-.1.4-.2.2-.1.3-.3.3-.5-1.1.2-2.2,0-3.1-.7Z'/%3E%3Cpath class='cls-1' d='m69.1,260.6c-1.2-1.2-.4-3.1-1.2-3.5h0c-.8.4,0,2.3-1.2,3.5-.9.7-2,.9-3.1.7,0,.2.1.4.3.5.1.1.2.2.4.2h1.8c.4,0,1,.5,1.8,2.9h0c.8-2.3,1.4-2.9,1.8-2.9h1.8c.1,0,.3-.1.4-.2.2-.1.3-.3.3-.5-1.1.2-2.2,0-3.1-.7Z'/%3E%3Cpath class='cls-1' d='m398.6,14.2c8.2,0,14.9,6.7,14.9,14.9h-1.3c-.3-1.5-4.2-11-14.4-11h-36.5c-5,0-5,3.4-5,11v41.6h17.8c10.2,0,14.4-7,14.4-7h1.3v17.7h-1.3s-4.2-6.9-14.4-6.9h-17.8v41.8c0,7.7,0,11,5,11h38.3c10.2,0,14-9.5,14.4-11h1.3c0,8.2-6.7,14.9-14.9,14.9h-62.6v-1.2c1.5-.3,5-5.9,5-13.6V29.1c0-7.7-3.5-13.2-5-13.6v-1.3h60.8Z'/%3E%3Cpath class='cls-1' d='m405.8,156c8.7,0,15.8,7.1,15.8,15.8h-1.4c-.4-1.6-4.5-11.7-15.3-11.7h-38.8c-5.3,0-5.3,3.6-5.3,11.7v44.3h18.9c10.9,0,15.3-7.5,15.3-7.5h1.4v18.9h-1.4s-4.5-7.3-15.3-7.3h-18.9v44.5c0,8.2,0,11.7,5.3,11.7h40.7c10.9,0,14.9-10.1,15.3-11.7h1.4c0,8.7-7.1,15.8-15.8,15.8h-66.6v-1.4c1.6-.4,5.3-6.2,5.3-14.4v-92.8c0-8.2-3.7-14-5.3-14.4v-1.5h64.7Z'/%3E%3Cpath class='cls-1' d='m199.3,152.1c5.5,0,9.9,4.4,9.9,9.9h-.9c-.2-1-2.8-7.3-9.5-7.3h-24.2c-3.3,0-3.3,2.2-3.3,7.3v27.6h11.7c6.8,0,9.6-4.7,9.6-4.7h.9v11.8h-.9s-2.8-4.6-9.6-4.6h-11.8v27.8c0,5.1,0,7.3,3.3,7.3h25.5c6.8,0,9.3-6.3,9.5-7.3h.9c0,5.5-4.4,9.9-9.9,9.9h-41.5v-.9c1-.2,3.3-3.9,3.3-9v-57.9c0-5.1-2.3-8.8-3.3-9v-1l40.3.1Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
